#cap {
      
      color: red;
}


#subcap {
      
      color: brown;
}


.chartsvg {
      margin-right: 20px;
      margin-bottom: 50px;
}


.xaxis {

      stroke: #737373;
      stroke-width: 1;
}
.yaxis {

      stroke: #737373;
      stroke-width: 1;    
}

.xaxislabels {

		fill: #0d0d0d;
            -webkit-transform: rotate(45deg);
}

.yaxislabels {

		fill: #0d0d0d;
}


.xticks {
      
      stroke: #4d4d33;
  }
.yticks {
      
      stroke: #4d4d33;
}


.xlabels {
      
      fill: #0d0d0d;
}
.ylabels {

      fill: #0d0d0d;
}


.divlines {

	stroke: #eee6ff;
      stroke-width: 1;
}


.divrect {
      fill: ;
}


.connects {

      stroke: #3333ff;
      stroke-width: 6;
      stroke-linejoin: round;
}


.plotpoints {

      stroke: #3333ff;
      fill: #ffffff;
}


.crosshair1 {

	  stroke: #ff3333;
	  border-style: dashed;
	  stroke-dasharray: 3,3;
}


.synccrosshair {

	  stroke: #ff3333;
	  border-style: dashed;
	  stroke-dasharray: 3,3;
}


.column:hover {
        fill: #d65c5c;
}


.boxtip {
      visibility: visible;
}