#cap {

      
      color: red;
}


#subcap {

      
      color: brown;
}


.xaxis {

      stroke: #e6e6e6;
      stroke-width: 2;
}
.yaxis {

      stroke: #e6e6e6;
      stroke-width: 2;    
}

.xaxislabels {

		fill: #0d0d0d;
}

.yaxislabels {

		fill: #0d0d0d;
}


.xticks {
      
      stroke: #4d4d33;
  }
.yticks {
      
      stroke: #4d4d33;
}


.xlabels {
      
      fill: #0d0d0d;
}
.ylabels {

      fill: #0d0d0d;
}


.divlines {

	  stroke: #e6e6e6;
      stroke-width: 1;
}


.connects {

      stroke: #3333ff;
      stroke-width: 6;
      stroke-linejoin: round;
}


.plotpoints {

      stroke: #3333ff;
      fill: #ffffff;
}


.crosshair1 {

	  stroke: #ff3333;
	  border-style: dashed;
	  stroke-dasharray: 3,3;
}


.synccrosshair {

	  stroke: #ff3333;
	  border-style: dashed;
	  stroke-dasharray: 3,3;
}